.actions{
    display: flex;
    input,a{
        background-color: var(--color-blue);
        color: var(--color-white);
        margin-right:var(--space-x-half);
        padding:var(--space-x-quarter);
        margin: var(--space-x-quarter);
        margin-left:0;
        display: inline-block;
        border-radius: var(--space-x-quarter);
        &:hover{
            background-color: var(--color-blue);
            color: var(--color-white);
        }
        @include text-hover;
        &.type-delete{
            background-color: var(--color-red);
            margin: var(--space-x-quarter);
            margin-left: auto;
            &:last-child{
                margin-right:0;
            }
        }
    }
}
